<head>
  <!-- your existing stylesheets and scripts -->
</head>
<body>
<header class="header_section long_section px-0">
  <nav class="navbar navbar-expand-lg custom_nav-container">
    <a class="navbar-brand" href="">
      <span>CyberWallet</span>
    </a>

    <!-- Move the login and signup buttons outside the collapsible section -->
    <div class="quote_btn-container d-lg-none">
      <a (click)="openLoginForm()">
        <span>Login</span>
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <a (click)="openLoginForm()">
        <span>Sign Up</span>
        <i class="fa fa-user-plus"></i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about"> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Move the login and signup buttons outside the collapsible section for larger screens -->
    <div class="quote_btn-container d-none d-lg-flex">
      <a (click)="openLoginForm()">
        <span>Login</span>
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <a (click)="openLoginForm()">
        <span>Sign Up</span>
        <i class="fa fa-user-plus"></i>
      </a>
    </div>
  </nav>
</header>

<!-- your existing content -->

<!-- your existing scripts -->
</body>
