<div
  class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-6">
        <!-- Updated column class to col-xxl-6 -->
        <div class="card mb-0">
          <button type="button" class="btn-close position-absolute top-0 end-0 m-4 btn-" (click)="closeForm()"
                  aria-label="Close"></button>
          <div class="card-body">
            <a href="" class="navbar-brand text-center d-block py-3 w-100">
              <span>CyberWallet</span>
            </a>
            <p class="text-center">Join The Best Bank</p>
            <form>
              <div class="mb-4">
                <label for="transferAmount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="transferAmount" style="width: 100%;" name="amount" [(ngModel)]="amount" [ngClass]="{'is-invalid': transactionFailed}">
              </div>
              <p *ngIf="transactionFailed" class="error-text">{{ errorMessage }}</p>

              <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-default  waves-effect  send-funds">
                  <a class="text-black fw-bold ms-2 send-funds"  (click)="transaction()">Withdraw Funds</a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
